@import "tailwindcss";
@plugin "daisyui";

.bg-image{
    background-image: url(./assets/bg-shadow.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}